header {
    display: flex;
    justify-content: center;
}

#game-wrapper {}

#directions-disp {
    display: flex;
    justify-content: center;
}

#battlefield-area-row {}

#p1-disp {
    border: solid 1px blue;
    height: 250px;
    position: relative;
    text-align: center;
}

#p1-options-disp {
    display: flex;
    justify-content: center;
    position: absolute;
    list-style: none;
    bottom: 40%;
    width: 100%;
    padding-left: 0;
}

#interaction-disp {
    border: solid 1px green;
    height: 250px;
    text-align: center;
}

#p2-disp {
    border: solid 1px red;
    height: 250px;
    position: relative;
    text-align: center;
}

#p2-options-disp {
    display: flex;
    justify-content: center;
    position: absolute;
    list-style: none;
    bottom: 40%;
    width: 100%;
    padding-left: 0;
}

.option-img {
    height: 50px;
    width: auto;
    float: left;
    margin: 10px;
}

.clearfix {
    clear: both;
}

.stats-disp {
    margin: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0 auto
}

.stats-disp>* {
    margin: 20px;
}

#chat-disp {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 90%;
    height: 30%;
}

#chat-messages-disp {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #fffcf7;
    height: 125px;
    overflow: auto;
}

#chat-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    position: absolute;
}

#chat-input {
    width: 100%;
}