html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
}

.row {
    width: 100%;
}

#game-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
}

#game-area {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.jumbotron {
    width: 95%;
}

#username-disp {
    display: flex;
    justify-content: center;
}

#battlefield-area-row {}

h3 {
    height: 70px
}

.loading-dots>div {
    width: 1rem;
    height: 1rem;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s bounce infinite ease-in-out both;
}

.loading-dots .dot1 {
    animation-delay: -0.30s;
}

.loading-dots .dot2 {
    animation-delay: -0.14s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

#p1-disp {
    border: solid 1px blue;
    height: 300px;
    position: relative;
    text-align: center;
}

#p1-options-disp {
    display: flex;
    justify-content: center;
    position: absolute;
    list-style: none;
    width: 100%;
    padding-left: 0;
}

#interaction-disp {
    border: solid 1px green;
    height: 250px;
    text-align: center;
}

#p2-disp {
    border: solid 1px red;
    height: 300px;
    position: relative;
    text-align: center;
}

#p2-options-disp {
    display: flex;
    justify-content: center;
    position: absolute;
    list-style: none;
    width: 100%;
    padding-left: 0;
}

.option-img {
    height: 50px;
    width: auto;
    float: left;
    margin: 10px;
}

.clearfix {
    clear: both;
}

.stats-disp {
    margin: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0 auto
}

.stats-disp>* {
    margin: 20px;
}

#chat-disp {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 90%;
    height: 30%;
    border: 1px solid yellow;
}

#chat-messages-disp {
    overflow: scroll;
    position: relative;
    width: 600px;
    height: 150px;
    padding: 10px;
    margin: 20px auto;
    background-color: white;
}

.chat-message {
    height: 125px;
    overflow: auto;
    background-color: #fffcf7;
    border: 1px solid grey;
    border-radius: 25px;
    padding: 4px 10px;
}

#chat-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
}

#chat-input {
    width: 550px;
}